[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.3"
astroid = "==2.3.3"
attrs = "==19.3.0"
biopython = "==1.76"
black = "==19.10b0"
bleach = "==3.3.0"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
click = "==7.1.1"
clipkit = "==0.0.1"
docutils = "==0.16"
idna = "==2.9"
isort = "==4.3.21"
keyring = "==21.2.0"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
more-itertools = "==8.2.0"
numpy = "==1.21.0"
pathspec = "==0.8.0"
pkginfo = "==1.5.0.1"
pluggy = "==0.13.1"
py = "==1.10.0"
pylint = "==2.4.4"
pyparsing = "==2.4.7"
pytest = "==5.4.1"
pytest-mock = "==3.0.0"
readme-renderer = "==26.0"
regex = "==2020.4.4"
requests = "==2.23.0"
requests-toolbelt = "==0.9.1"
six = "==1.14.0"
toml = "==0.10.0"
twine = "==3.1.1"
typed-ast = "==1.4.1"
urllib3 = "==1.25.9"
wcwidth = "==0.1.9"
webencodings = "==0.5.1"
wrapt = "==1.11.2"
Cython = "==0.29.16"
Pygments = "==2.7.4"

[requires]
python_version = "3.9"
