setuptools>=65.0
wheel>=0.30.0

# Runtime dependencies
biopython>=1.82,<1.84; python_version < '3.13'
biopython>=1.84; python_version >= '3.13'
numpy>=1.24.0,<2.0; python_version < '3.12'
numpy>=1.26.0,<2.1; python_version == '3.12'
numpy>=2.0.0,<2.2; python_version >= '3.13'

# Test dependencies
pytest>=8.1.1; python_version < '3.13'
pytest>=8.3.0; python_version >= '3.13'
pytest-mock>=3.0.0; python_version < '3.13'
pytest-mock>=3.14.0; python_version >= '3.13'
