[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
serve = "sphinx-autobuild . _build/html"

[dev-packages]
sphinx-autobuild = "*"

[packages]
Pygments = ">=2.0"
Sphinx = ">=4.0,<8.0"
sphinx_rtd_theme = ">=1.0"
alabaster = ">=0.7,<1.0"

[requires]
python_version = "3.9"
