name: CI
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test-fast:
    runs-on: macos-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        # make clipkit CLI available for tests 
        make install
        # install coverage plugin
        pip install pytest-cov
    - name: Run tests
      run: |
        make test.fast
  test-full:
    runs-on: macos-latest
    env:
      PYTHON: '3.10'
    steps:
    - uses: actions/checkout@v4
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        # make clipkit CLI available for tests 
        make install
        # install coverage plugin
        pip install pytest-cov
    - name: Generate coverage report
      run: |
        make test.coverage
    - name: Upload unit test coverage to Codecov
      uses: codecov/codecov-action@v1.0.7
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./unit.coverage.xml
        flags: unit
        env_vars: PYTHON
        name: codecov-unit
        fail_ci_if_error: false
    - name: Upload integration test coverage to Codecov
      uses: codecov/codecov-action@v1.0.7
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./integration.coverage.xml
        flags: integration
        env_vars: PYTHON
        name: codecov-integration
        fail_ci_if_error: false
  docs:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Build docs
        run: |
          python -m pip install -r docs/requirements.txt
          make -C docs html
      - name: Deploy
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: docs/_build/html
